{% extends "home.html" %}
{% block main %}
    {% if user.is_staff %}
        <div class="text-center">
            <button class="cursor-pointer rounded-full px-3 py-2 bg-white/50 text-black hover:bg-white/75"
                    hx-get="{% url 'addInstructor' %}">Add Instructor</button>
        </div>
    {% endif %}
    <div class="flex justify-evenly mt-5">
        <div class="w-1/7">
            <h2 class="text-red-600/70 text-3xl font-bold">Instructor list</h2>
            <ul class="text-xl font-semibold">
                {% for instructor in instructors %}
                    <li class="my-1 px-3 py-1 rounded-full {% if detail.pk == instructor.pk %}bg-white text-black{% endif %} hover:cursor-pointer hover:bg-white/75 hover:text-black"
                        {% if detail.pk == instructor.pk %}hx-get="{% url "instructors" %}"{% else %} hx-get="{% url "instructors" %}?pk={{ instructor.pk }}"{% endif %}
                        hx-push-url="false">Mr. {{ instructor.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="w-1/2">
            {% if detail %}
                <h2 class="text-red-600/70 text-2xl font-bold">Details</h2>
                <ul class="text-xl font-semibold">
                    <li class="px-3 py-1">Name: {{ detail.name }}</li>
                    <hr>
                    <li class="px-3 py-1">Email: {{ detail.email }}</li>
                    <hr>
                    <li class="px-3 py-1">
                        Courses:
                        <ul class="w-1/3 ms-3">
                            {% for course in detail.courses.all %}
                                <li class="px-3 py-1 rounded-full hover:cursor-pointer hover:bg-white/75 hover:text-black"
                                    hx-get="{% url "courses" %}?pk={{ course.pk }}">{{ course }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <hr>
                    <li class="px-3 py-1">
                        Students:
                        <ul class="w-1/4 ms-3">
                            {% for course in detail.courses.all %}
                                {% for student in course.students.all %}
                                    <li class="px-3 py-1 rounded-full hover:cursor-pointer hover:bg-white/75 hover:text-black"
                                        hx-get="{% url "students" %}?pk={{ student.pk }}">{{ student }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                    <hr>
                </ul>
                {% if user.is_staff %}
                    <div class="flex gap-3 mt-3 ms-5">
                        <button hx-get="{% url "editInstructor" detail.pk %}"
                                class="cursor-pointer rounded-full px-3 py-2 bg-white/50 text-black hover:bg-white/75">
                            Update
                        </button>
                        <button hx-get="{% url "deleteInstructor" detail.pk %}"
                                class="cursor-pointer rounded-full px-3 py-2 bg-black/25 text-white hover:bg-black">
                            Delete
                        </button>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock main %}
