<nav class="flex justify-between my-2">
    <ul class="flex bg-black rounded-full ms-2 sticky-top gap-1 p-1">
        <li class="text-white hover:bg-white/25 hover:cursor-pointer {% if request.path == "/" %}bg-white/25{% endif %} rounded-full px-4 py-2"
            hx-get="/">Home</li>
        <li class="text-white hover:bg-white/25 hover:cursor-pointer {% if request.path == '/instructors/' %}bg-white/25{% endif %} rounded-full px-4 py-2"
            hx-get="{% url 'instructors' %}">Instructors</li>
        <li class="text-white hover:bg-white/25 hover:cursor-pointer {% if request.path == '/courses/' %}bg-white/25{% endif %} rounded-full px-4 py-2"
            hx-get="{% url 'courses' %}">Courses</li>
        {% if user.is_authenticated %}
            <li class="text-white hover:bg-white/25 hover:cursor-pointer {% if request.path == '/students/' %}bg-white/25{% endif %} rounded-full px-4 py-2"
                hx-get="{% url 'students' %}">Students</li>
        {% endif %}
    </ul>
    <ul class="flex bg-black rounded-full me-4 sticky-top gap-1 p-1">
        {% if user.is_authenticated %}
            <li id="logoutCollapse"
                class="text-white hover:bg-white/25 hover:cursor-pointer {% if request.path == '/adminLogout/' %}bg-white/25{% endif %} rounded-full px-4 py-2"
                hx-get="{{ request.path }}"
                hx-select="#logoutExpand"
                hx-target="closest ul">👤 {{ user }}</li>
        {% else %}
            <li class="text-white hover:bg-white/25 hover:cursor-pointer {% if request.path == '/adminLogin/' %}bg-white/25{% endif %} rounded-full px-4 py-2"
                hx-get="{% url 'adminLogin' %}">Login</li>
            <li class="text-white hover:bg-white/25 hover:cursor-pointer {% if request.path == '/adminSignup/' %}bg-white/25{% endif %} rounded-full px-4 py-2"
                hx-get="{% url 'adminSignup' %}">Signup</li>
        {% endif %}
    </ul>
</nav>
<ul class="hidden p-0">
    <li id="logoutExpand"
        class="text-white hover:bg-white/25 hover:cursor-pointer {% if request.path == '/adminLogout/' %}bg-white/25{% endif %} rounded-full px-4 py-2"
        hx-get="{% url 'profile' %}">Profile</li>
    <li id="logoutExpand"
        class="text-white hover:bg-white/25 hover:cursor-pointer {% if request.path == '/adminLogout/' %}bg-white/25{% endif %} rounded-full px-4 py-2"
        hx-get="{% url 'adminLogout' %}"
        hx-target="#body"
        hx-push-url="{% url "adminLogin" %}">Logout</li>
    <li id="logoutExpand"
        class="text-white hover:bg-white/25 hover:cursor-pointer {% if request.path == '/adminLogout/' %}bg-white/25{% endif %} rounded-full px-4 py-2"
        hx-get="{{ request.path }}"
        hx-target="closest ul"
        hx-select="#logoutCollapse">👤 {{ user }}</li>
</ul>
